block page
    #page-wrapper
        .container-fluid
            .row
                .col-lg-12
                    h1.page-header Welcome in JWT Demo
                    a(href='/logout')
                        i.fa.fa-sign-out.fa-fw
                        |  Logout
